@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Skater-girl;
  src: url('../fonts/skater-girls-rock/SkaterGirlsRock.ttf');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Skater-girl';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
